*{
    box-sizing: border-box;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.header{    
    padding: 0;
    margin: 0;

}
.container{
    margin: 0 auto;
    max-width: 1100px;
}
.header__inner{
    display: flex;
    justify-content: start;
    margin-bottom: 40px;
}

.logo-img{ 
    width: 50px;
    margin: 10px 150px 10px 10px;
}
.menu__list{
 margin-top: 10px;
display: flex;
justify-content: center;

}
.menu__item{
    background-color: #000;
    border: 2px solid red;
    color:#fff;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    padding: 10px 50px;
    transition: all .4;
}
.menu__item +.menu__item {
    margin-left: 50px;
}
.menu__item:hover{
    background-color: #fff;
    color: #000;
}


.content{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.menu2{
    background-color: bisque;
    color:blue;
    height: 300px;
    width: 300px;
}
.center{
    width: 500px;
}
.center__title{
    font-size: 26px;
    line-height: 28px;
    max-width: 340px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    color: red;
    margin-bottom: 20px;
}
.center__text{
    font-size: 18px;
    line-height: 20px;
    max-width: 500px;
    padding: 10px;
}
.center__img{
   width: 500px;
   margin-bottom: 20px;
}



.center__footer{
color: brown;
text-align: center;
}
.left{
    background-color: beige;
    color: blue;
    text-align: center; 
    width: 300px;
}
.footer{
    height: 100px;
    background-color: aqua;
    border: 1px  solid blue;
    text-align: center;
    color: white;
}
.footer__text{
    font-size: 42px;
}



